.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
}
.search__travel {
}
// .ant-row {
//   background-color: red !important;
// }
.ant-btn {
  flex-grow: 1;
  margin-right: 17px;
}
.wrap__search {
  display: flex;
  justify-content: space-between;
  width: 500px;
}
h1.ant-typography {
  margin-bottom: 0;
}
div .title {
  width: 500px;
  margin: 20px 0 5px;
  padding-bottom: 15px;
  text-align: start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);

  color: #072559 !important;
}

.wrap__travels {
  padding: 0 5px;
  width: 500px;
  max-height: 500px !important;
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  &::-webkit-scrollbar {
    width: 3px;
    height: 12px !important;
  }
  &::-webkit-scrollbar-thumb {
    background-image: linear-gradient(-45deg, #0d5de7, #17a1f1);
    border-radius: 50px;
  }
}
